.selectionCell {
  display: flex;
  justify-content: center;
}

.pullRequestHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 28px;
  width: 100%;
  gap: 8px;
}

.pullRequestHeaderFilters {
  display: flex;
  align-items: center;
  gap: 8px;
}

.issueMainRow {
  display: flex;
  flex-direction: column;
  gap: 2px;

  .content {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.pull-request-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 28px;
  width: 100%;
  gap: 8px;

  .pull-request-selection-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
  }

  .pull-request-filters {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
