@import '@primer/css/dist/utilities.css';
@import '@primer/primitives/dist/css/primitives.css';

@import '@primer/primitives/dist/css/functional/themes/light.css';
@import '@primer/primitives/dist/css/functional/themes/dark.css';

button {
  border: none;
  background-color: none;
  padding: 0;
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin: 0;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  --fg-default: #242424;
  --fg-muted: #636c76;
  --fg-link: #0969da;

  --bg-default: #ffffff;
  --bg-muted: #f6f8fa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-default: #e6edf3;
    --fg-muted: #7d8590;
    --fg-link: #0969da;

    --bg-default: rgb(13, 17, 23);
    --bg-muted: rgb(22, 27, 34);
  }
}

body {
  background-color: var(--bgColor-default);
  color: var(--fg-default);
  margin: 0;
  display: grid;
}

.full-width {
  width: 100% !important;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.content-invisible {
  content-visibility: hidden;
  contain-intrinsic-size: 0;
  height: auto !important;
}

.visible {
  visibility: visible;
}

.modal-container {
  position: absolute;
}

code {
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace !important;
  font-size: 0.9em;
}

.code-list {
  margin-top: 8px;
  padding-left: 20px;

  li:has(code) {
    list-style-type: disc;

    code {
      overflow-wrap: break-word;
      background-color: #424242;
    }
  }
}

.muted-text {
  color: var(--fgColor-muted);
}
