.preview-title {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  width: 100%;

  &.truncate {
    align-items: center;

    .title {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.preview-link {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--fgColor-default);
  gap: 8px;

  &:hover {
    .title {
      text-decoration: underline;
      text-decoration-color: var(--fgColor-accent);
    }
    .title,
    .external-icon {
      color: var(--fgColor-accent);
    }
  }

  .external-icon {
    flex: 0 0 auto;
  }

  .number {
    pointer-events: none;
  }
}

.external-icon {
  margin-top: 2px;
}

.preview-title-icon {
  margin-top: 4px;
}

.left-part {
  display: flex;
  gap: 8px;
}
