.entity-body-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  overflow: hidden;
}

.entity-body-card-header {
  padding: 4px 8px 4px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background-color: var(--bgColor-muted);
  border-bottom: 1px solid var(--borderColor-default);
}

.entity-body-card-author {
  display: flex;
  align-items: center;
  gap: 6px;
}
