.entity-preview-header {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-8, 0.5rem);

  border-block-end: var(--borderWidth-thin, 0.0625rem) solid
    var(--borderColor-default, var(--color-border-default));
  padding-block-end: var(--base-size-8, 0.5rem);
  width: 100%;

  .actions,
  .bottom-info {
    display: flex;
    gap: var(--base-size-8, 0.5rem);
    width: 100%;
  }
}
