.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: var(--bgColor-default);
  box-shadow: inset 0 calc(1px * 1) var(--borderColor-default);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:has(.footer-right):not(:has(.footer-left)) {
    .footer-right {
      justify-self: flex-end;
      width: 100%;
    }
  }
  .footer-left,
  .footer-right {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .footer-right {
    justify-content: flex-end;
  }
}
