.html-body {
  height: auto;
  padding: var(--base-size-16);
  font-family: var(--fontStack-sansSerif);
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: var(--base-size-24);
    margin-bottom: var(--base-size-16);
    font-weight: var(--base-text-weight-semibold, 600);
    line-height: 1.25;
  }

  .highlight,
  .markdown-alert {
    margin-bottom: var(--base-size-16);
  }

  p,
  blockquote,
  ul,
  ol,
  dl,
  table,
  pre,
  details {
    margin-top: 0;
    margin-bottom: var(--base-size-16);
    margin-inline: 0;
  }

  ul,
  ol {
    padding-left: 2em;
  }

  .contains-task-list {
    padding-left: 1em;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;

    &.contains-task-list {
      list-style: none;
    }
  }

  a {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
  }

  h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid var(--borderColor-muted, var(--color-border-muted));
  }

  h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid var(--borderColor-muted, var(--color-border-muted));
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.85em;
    color: var(--fgColor-muted);
  }

  p {
    margin-top: 0;
    margin-bottom: var(--base-size-16);
  }

  code,
  tt {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: var(--bgColor-neutral-muted, var(--color-neutral-muted));
    border-radius: 6px;
  }

  table {
    display: block;
    width: 100%;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    font-variant: tabular-nums;

    tr {
      background-color: var(--bgColor-default, var(--color-canvas-default));
      border-top: 1px solid var(--borderColor-muted, var(--color-border-muted));

      &:nth-child(2n) {
        background-color: var(--bgColor-muted, var(--color-canvas-subtle));
      }
    }

    th,
    td {
      padding: 6px 13px;
      border: 1px solid var(--borderColor-default, var(--color-border-default));
    }

    th {
      font-weight: var(--base-text-weight-semibold, 600);
    }
  }

  blockquote {
    color: var(--fgColor-muted, var(--color-fg-muted));
    border-left: 0.25em solid var(--borderColor-default, var(--color-border-default));
    padding: 0 1em;
  }

  .highlight pre,
  pre {
    padding: var(--base-size-16);
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    color: var(--fgColor-default, var(--color-fg-default));
    background-color: var(--bgColor-muted, var(--color-canvas-subtle));
    border-radius: 6px;
  }

  .markdown-alert {
    padding: 4px 12px;
    color: inherit;
    border-left: 0.25em solid var(--borderColor-default);

    border-left-color: var(--alert-border-left-color);

    .markdown-alert-title {
      display: flex;
      align-items: center;
      color: var(--alert-title);
      font-weight: var(--base-text-weight-medium, 500);

      svg {
        fill: currentColor;
      }
    }

    &.markdown-alert-note {
      --alert-border-left-color: var(--borderColor-accent-emphasis);
      --alert-title: var(--fgColor-accent);
    }
    &.markdown-alert-tip {
      --alert-border-left-color: var(--borderColor-success-emphasis);
      --alert-title: var(--fgColor-success);
    }
    &.markdown-alert-important {
      --alert-border-left-color: var(--borderColor-done-emphasis);
      --alert-title: var(--fgColor-done);
    }
    &.markdown-alert-warning {
      --alert-border-left-color: var(--borderColor-attention-emphasis);
      --alert-title: var(--fgColor-attention);
    }
    &.markdown-alert-caution {
      --alert-border-left-color: var(--borderColor-danger-emphasis);
      --alert-title: var(--fgColor-danger);
    }
  }

  strong {
    font-weight: var(--base-text-weight-semibold, 600);
  }

  .user-mention,
  .team-mention {
    font-weight: var(--base-text-weight-semibold, 600);
    color: var(--color-user-mention-fg);
    background-color: var(--bgColor-attention-muted, var(--color-attention-subtle));
    border-radius: 2px;
    margin-left: -2px;
    margin-right: -2px;
    white-space: nowrap;
  }

  & > *:first-child {
    margin-top: 0 !important;
  }

  & > *:last-child {
    margin-bottom: 0 !important;
  }
  & > div > *:last-child {
    margin-bottom: 0 !important;
  }
}
